.nav{
    align-items: center;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}
.link a{
    margin: 20px;
    text-decoration: none;
    font-size: 20px; 
    color: black;
}
.btn button{
    padding: 15px;
    background-color: green;
    color: white;
    border-radius: 8px;
    font-size: large;
}
.btn :hover{
    background-color: rgb(122, 96, 147);
}
.hero-bg{
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 140px;
}
.btn1 button{
    color: green;
    border-radius: 12px;
    padding: 9px;
    width: 210px;
}
.btn1 :hover{
    background-color: rgb(39, 22, 0);
    color: white;
}
.white{
    color: white;
    font-size: 85px;
}
.green{
    color: green;
    font-size: 90px;
}
.p{
    color: white;
    font-size: 24px;
}
.hero-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 120px;
    gap: 20px;
    align-items: center;
}
.mainbtn{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.btn2 button{
    display: flex;
    align-items: center;
    background-color: green;
    gap: 10px;
    color: white;
    padding: 20px;
    font-size: 18px;
}
.btn2 :hover{
    background-color: rgb(26, 56, 46);
}
.btn3 button{
    align-items: center;
    padding: 20px;
    color: white;
    background-color: transparent;
    width: 200px; 
    font-size: 18px;
}
.btn3 :hover{
    background-color: rgb(222, 171, 103);
}