.nav{
    align-items: center;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}
.link a{
    margin: 20px;
    text-decoration: none;
    font-size: 20px; 
    color: black;
}
.btn button{
    padding: 15px;
    background-color: green;
    color: white;
    border-radius: 8px;
    font-size: large;
}
.btn :hover{
    background-color: rgb(122, 96, 147);
}